@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comic Code Ligatures';
    src: url('/ComicCodeLigatures-Regular.otf');
}

* {
    font-family: 'Comic Code Ligatures'
}

.markdown h1 {
    @apply text-2xl font-bold text-galaxy_purple-50;
}

.markdown h2 {
    @apply text-xl font-bold text-galaxy_purple-50;
}

.markdown p {
    @apply text-lg my-4 leading-relaxed;
}

.markdown ol li {
    @apply ml-10 list-decimal;
}

.markdown ul li {
    @apply ml-10 list-disc;
}

.markdown table {
    @apply text-center;
}

.markdown table th {
    @apply border px-4 py-2;
}

.markdown table td {
    @apply border px-4 py-2;
}

.markdown pre {
    @apply p-4 w-fit bg-galaxy_purple-950;
}